<span class="address">{{address[options.address.name]}}</span><span class="address2" ng-show="address.address2">, {{address[options.address2.name]}}</span><span class="city" ng-show="address.city">, {{address[options.city.name]}}</span><span class="region" ng-show="address.region">, {{address[options.region.name]}}</span><span class="zip" ng-show="address.zip">, {{address[options.zip.name]}}</span><span class="country" ng-show="address.country">,  {{address[options.country.name]}}</span>


{{options}}