<div layout="row">
    <md-input-container flex>
        <label>Address</label>
        <input ng-model="address[options.address.name]" ng-change="search()" ng-model-options="{debounce: 500}" required-condition="options.address.required" ng-disabled="options.disabled" name="{{options.address.id}}" class="address-input">
        <div class="hint" ng-show="options.address2.show">Street Address</div>
    </md-input-container>

    <md-input-container flex ng-show="options.address2.show">
        <label>Address 2</label>
        <input ng-model="address[options.address2.name]" ng-change="search()" ng-model-options="{debounce: 500}" required-condition="options.address2.required" ng-disabled="options.disabled" name="{{options.address2.id}}" class="address-input">
        <div class="hint">Apartment, suite, unit, building, floor, etc.</div>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container flex>
        <label>City</label>
        <input ng-model="address[options.city.name]" ng-change="search()" ng-model-options="{debounce: 500}" required-condition="options.city.required" ng-disabled="options.disabled" name="{{options.city.id}}" class="address-input">
    </md-input-container>

    <md-input-container flex>
        <label>{{zipLabel}}</label>
        <input ng-model="address[options.zip.name]" ng-change="search()" ng-model-options="{debounce: 500}" required-condition="options.zip.required" ng-disabled="options.disabled" name="{{options.zip.id}}" class="address-input">
    </md-input-container>
</div>

<div layout="row">
    <md-input-container flex="50">
        <label>Country</label>
        <md-select ng-model="address[options.country.name]" ng-change="search()" required-condition="options.country.required" ng-disabled="options.disabled" name="{{options.country.id}}" class="address-input">
            <md-option ng-repeat="country in countries.domestic" value="{{country.code}}">
                {{country.name}}
            </md-option>
            <md-optgroup label="International" ng-show="countries.international.length">
	            <md-option ng-repeat="country in countries.international" value="{{country.code}}">
	                {{country.name}}
	            </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label>{{regionLabel}}</label>
        <md-select ng-model="address[options.region.name]" ng-change="search()" required-condition="options.region.required" ng-disabled="options.disabled" name="{{options.region.id}}" class="address-input">
            <md-option ng-repeat="region in regions" value="{{region.code}}">
                {{region.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>

<div class="map-container" ng-show="options.map">
    <md-button class="center"ng-show="address.lat && address.lng" ng-click="recenter()" ng-show="center">Center Map using Address</md-button>
    <ui-gmap-google-map center="map.center" zoom="13" options="mapOptions" control="map.control" events="mapOptions.events">
    	<ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" control="marker.control" events="marker.events"></ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="address-incomplete" layout="row" layout-align="center center" ng-show="!address.lat && !address.lng">
    	<div ng-show="!searched">Please populate the address above to locate it on the map</div>
    	<div ng-show="searched">Could not find address "{{searchedAddress}}"</div>
    </div>
</div>