<div layout="row">
    <md-input-container flex="50">
        <label>Address</label>
        <input ng-model="address.address">
    </md-input-container>

    <md-input-container flex>
        <label>Address 2</label>
        <input ng-model="address.address2">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex="50">
        <label>City</label>
        <input ng-model="address.city">
    </md-input-container>

    <md-input-container flex>
        <label>Postal Code</label>
        <input name="zip" ng-model="address.zip">
    </md-input-container>
</div>    

<div layout="row">
    <md-input-container flex="50">
        <label>State</label>
        <md-select ng-model="address.region">
            <md-option ng-repeat="region in regions" value="{{region.code}}">
                {{region.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label>Country</label>
        <md-select ng-model="address.country">
            <md-option ng-repeat="country in countries" value="{{country.code}}">
                {{country.name}}
            </md-option>
        </md-select>
    </md-input-container>  
</div>
